.container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.item {
    min-height: 10rem;
    width: 10rem;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}